In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests

# Import the API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a dataframe.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Asyut,EG,2022-07-24 20:28:09,27.1810,31.1837,88.56,21,6,9.60
1,1,Tiksi,RU,2022-07-24 20:28:09,71.6872,128.8694,45.70,78,5,5.55
2,2,Mount Gambier,AU,2022-07-24 20:28:09,-37.8333,140.7667,52.32,98,100,8.50
3,3,Port Alfred,ZA,2022-07-24 20:28:10,-33.5906,26.8910,60.04,56,86,9.71
4,4,Hasaki,JP,2022-07-24 20:28:10,35.7333,140.8333,75.60,86,65,12.95

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Asyut,EG,2022-07-24 20:28:09,27.1810,31.1837,88.56,21,6,9.60
4,4,Hasaki,JP,2022-07-24 20:28:10,35.7333,140.8333,75.60,86,65,12.95
6,6,Puerto Baquerizo Moreno,EC,2022-07-24 20:28:11,-0.9000,-89.6000,76.19,65,40,8.05
16,16,Maiduguri,NG,2022-07-24 20:28:13,11.8464,13.1603,86.90,50,89,4.38
21,21,Korla,CN,2022-07-24 20:28:15,41.7597,86.1469,87.49,23,100,21.77
25,25,Lompoc,US,2022-07-24 20:28:16,34.6391,-120.4579,85.69,68,0,12.66
33,33,Katsuura,JP,2022-07-24 20:28:18,35.1333,140.3000,77.40,89,95,10.38
34,34,Hilo,US,2022-07-24 20:28:19,19.7297,-155.0900,84.27,75,100,8.01
39,39,Rikitea,PF,2022-07-24 20:28:20,-23.1203,-134.9692,75.20,80,38,14.88
42,42,Faanui,PF,2022-07-24 20:28:21,-16.4833,-151.7500,78.46,76,1,11.88

In [19]:
preferred_cities_df.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
0                     Asyut      EG     88.56  27.1810   31.1837
4                    Hasaki      JP     75.60  35.7333  140.8333
6   Puerto Baquerizo Moreno      EC     76.19  -0.9000  -89.6000
16                Maiduguri      NG     86.90  11.8464   13.1603
21                    Korla      CN     87.49  41.7597   86.1469
25                   Lompoc      US     85.69  34.6391 -120.4579
33                 Katsuura      JP     77.40  35.1333  140.3000
34                     Hilo      US     84.27  19.7297 -155.0900
39                  Rikitea      PF     75.20 -23.1203 -134.9692
42                   Faanui      PF     78.46 -16.4833 -151.7500

In [22]:
#Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and logitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))