## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_challenge2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\mitch\Class\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Souillac,MU,68.38,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
1,1,Saint-Philippe,RE,65.79,light rain,-21.3585,55.7679,Le four à pain
2,4,Berlevag,NO,62.40,light rain,70.8578,29.0864,Kvitbrakka
3,6,Ribeira Grande,PT,75.00,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
4,8,Lorengau,PG,82.71,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Pacific Grove") & (vacation_df["Hotel Name"] == "Lovers Point Inn")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Pacific Grove") & (vacation_df["Hotel Name"] == "Lovers Point Inn")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Half Moon Bay") & (vacation_df["Hotel Name"] == "The Ritz-Carlton, Half Moon Bay")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Alamosa") & (vacation_df["Hotel Name"] == "Best Western Alamosa Inn")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "San Quintin") & (vacation_df["Hotel Name"] == "Don Eddie's Sport Fishing Center")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
124,219,Pacific Grove,US,76.21,clear sky,36.6177,-121.9166,Lovers Point Inn

In [7]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
281,474,Half Moon Bay,US,84.42,overcast clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [8]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
280,473,Alamosa,US,78.78,clear sky,37.4695,-105.87,Best Western Alamosa Inn

In [9]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
329,555,San Quintin,MX,73.78,few clouds,30.4833,-115.95,Don Eddie's Sport Fishing Center

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,
                                           end,
                                           waypoints=[stop1, stop2, stop3],
                                           travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,219,Pacific Grove,US,76.21,clear sky,36.6177,-121.9166,Lovers Point Inn
1,474,Half Moon Bay,US,84.42,overcast clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,473,Alamosa,US,78.78,clear sky,37.4695,-105.8700,Best Western Alamosa Inn
3,555,San Quintin,MX,73.78,few clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))